In [100]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [101]:
# 读取excel数据

df = pd.read_excel('data/database.xlsx')

In [102]:
df = df[['销售员','产品名','产品类别','二级类别','客户名称','客户类别','客户分级','日期','结算数量','净赠酒数量','净出库数量']]
df.head()

,销售员,产品名,产品类别,二级类别,客户名称,客户类别,客户分级,日期,结算数量,净赠酒数量,净出库数量
0,孙洪杰,青岛啤酒（崂山500听）,啤酒,500听装酒,龙传商店--塔山,0,0,2017-08-20,0.0,0.0,0.0
1,院国何,青岛500听,啤酒,500听装酒,风缘超市--戚东夼路,0,0,2017-08-20,2.0,0.0,2.0
2,勇建波,一筐果子（1L),其他,其他物品,鱼市酒店,0,0,2017-08-20,12.0,0.0,12.0
3,勇建波,一筐果子（300ML),其他,其他物品,通顺酒店,0,0,2017-08-20,2.0,0.0,2.0
4,丛文武,青岛啤酒（330青岛产）,啤酒,330听装酒,福乐源--小城故事,0,0,2017-08-20,10.0,0.0,10.0

In [80]:
#table = pd.pivot_table(df,index=["销售员","产品名"],
#                       columns=["二级类别"],
#                       values=["结算数量","净赠酒数量"],
#                       aggfunc={"结算数量":[np.sum],"净赠酒数量":[np.sum]},fill_value=0)

In [81]:
# e = table.query('(销售员 == ["丛文武","孙洪杰"]) & (产品名 == ["青岛500听","青岛纯生"])')

In [82]:
# e.to_excel('bill.xlsx')

In [83]:
df["产品名"] = df["产品名"].astype("category")
df["产品名"].cat.set_categories(["青岛奥古特","青岛纯生","青岛1903瓶啤","青岛经典啤酒(500ML)","崂山精品"],inplace=True)

In [84]:
table = pd.pivot_table(df,index=["客户名称",'日期'],
                       columns=["产品名"],
                       values=["结算数量","净赠酒数量",'净出库数量'],
                       aggfunc={"结算数量":[np.sum],"净赠酒数量":[np.sum],'净出库数量':[np.sum]},
                       fill_value=0)

In [85]:
e = table.query('客户名称 == ["船舶丽港--市里","船舶丽港--蒿泊"]')
e.head()

                    净出库数量                                   净赠酒数量       \
                      sum                                     sum
产品名                 青岛奥古特  青岛纯生 青岛1903瓶啤 青岛经典啤酒(500ML) 崂山精品 青岛奥古特 青岛纯生
客户名称     日期
船舶丽港--市里 2017-07-04   0.0   0.0      0.0          30.0  0.0   0.0  0.0
         2017-07-07   0.0   5.0      0.0           0.0  0.0   0.0  0.0
         2017-07-09   0.0  10.0      0.0          30.0  0.0   0.0  0.0
         2017-07-13   0.0   0.0      0.0          40.0  0.0   0.0  0.0
         2017-07-19   0.0  10.0      0.0          30.0  0.0   0.0  0.0

                                                 结算数量                 \
                                                  sum
产品名                 青岛1903瓶啤 青岛经典啤酒(500ML) 崂山精品 青岛奥古特  青岛纯生 青岛1903瓶啤
客户名称     日期
船舶丽港--市里 2017-07-04      0.0           0.0  0.0   0.0   0.0        0
         2017-07-07      0.0           0.0  0.0   0.0   5.0        0
         2017-07-09      0.0           0.0  0.0   0.0  10.0        0
         2017-07-13      0.0           0.0  0.0   0.0   0.0        0
         2017-07-19      0.0           0.0  0.0   0.0  10.0        0



产品名                 青岛经典啤酒(500ML) 崂山精品
客户名称     日期
船舶丽港--市里 2017-07-04          30.0  0.0
         2017-07-07           0.0  0.0
         2017-07-09          30.0  0.0
         2017-07-13          40.0  0.0
         2017-07-19          30.0  0.0

In [86]:
e.to_excel('bill.xlsx')

In [103]:
df = df.groupby(['销售员', pd.Grouper(key='日期', freq='M')])['净赠酒数量'].sum()

In [105]:
h = DataFrame(df)
h

                       净赠酒数量
销售员      日期
丛文武      2017-07-31   389.00
         2017-08-31   208.00
丛日茂      2017-07-31     0.00
         2017-08-31  1152.00
个人       2017-07-31     0.00
         2017-08-31     1.00
于强       2017-07-31  2058.00
         2017-08-31  1440.16
于文亮      2017-07-31   429.00
         2017-08-31   287.00
于永浩      2017-07-31   710.00
         2017-08-31  2560.00
冠群（皇冠）   2017-07-31     0.00
         2017-08-31     0.00
办事处      2017-07-31     6.00
         2017-08-31     0.00
勇君       2017-07-31  1053.00
         2017-08-31   546.00
勇建波      2017-07-31  1046.00
         2017-08-31   220.00
周本风      2017-07-31   114.00
         2017-08-31   500.00
夜总会      2017-07-31     0.00
         2017-08-31   914.00
姜琳琳      2017-07-31     0.00
         2017-08-31    50.00
孙星华      2017-07-31   405.00
         2017-08-31     0.00
孙洪杰      2017-07-31   111.00
         2017-08-31    84.00
...                      ...
梁锦锋      2017-07-31     0.00
         2017-08-31  1338.00
段现强      2017-07-31   749.00
         2017-08-31   743.00
永创酒水     2017-07-31   105.75
         2017-08-31    43.00
燕妮       2017-07-31     0.00
         2017-08-31     0.00
牛天华      2017-07-31    10.00
王绍伟      2017-07-31     0.00
         2017-08-31     0.00
生生       2017-08-31     4.00
破碎       2017-07-31    15.17
         2017-08-31     8.57
程源批发     2017-07-31   856.00
         2017-08-31  3030.00
芊芊商店（皇冠） 2017-08-31     0.00
蒋龙兴      2017-07-31   120.00
         2017-08-31   600.00
谷宗秦      2017-07-31   220.00
         2017-08-31    49.50
邢书平      2017-07-31  1251.00
         2017-08-31   240.00
郑国利      2017-07-31   620.28
         2017-08-31   223.16
郭相宇      2017-07-31     0.00
         2017-08-31     0.00
长虹电器--长峰 2017-07-31     0.00
院国何      2017-07-31    67.00
         2017-08-31    51.50

[71 rows x 1 columns]