In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
# 读取excel数据

df = pd.read_excel('data/database.xlsx')

In [3]:
df.head(3)

,销售员,产品名,产品类别,二级类别,客户名称,客户类别,客户分级,销售数量,赠送数量,异价数量,...,退货单价,退货数量,退货金额,换货,退货去向,转给人,净退货数量,结算数量,净赠酒数量,净出库数量
0,孙洪杰,青岛啤酒（崂山500听）,啤酒,500听装酒,龙传商店--塔山,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,0.0
1,院国何,青岛500听,啤酒,500听装酒,风缘超市--戚东夼路,0,0,2.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0.0,2.0,0.0,2.0
2,勇建波,一筐果子（1L),其他,其他物品,鱼市酒店,0,0,12.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0.0,12.0,0.0,12.0

In [4]:
df["二级类别"] = df["二级类别"].astype("category")
df["二级类别"].cat.set_categories(["瓶装酒","500听装酒","330听装酒"],inplace=True)

In [5]:
pd.pivot_table(df,index=["销售员"]).head()

,净出库数量,净赠酒数量,净退货数量,合计金额,常价金额,异价单价,异价数量,异价金额,正常单价,正常数量,...,赠送数量,赠酒价值,赠酒成本,赠酒数量,转给人,还预存数,退货单价,退货数量,退货金额,销售数量
销售员,,,,,,,,,,,,,,,,,,,,,
丛文武,5.735268,0.604863,0.220780,179.792705,89.762310,7.348531,1.278622,90.030395,31.983040,3.969605,...,0.707822,11.967579,5.042553,0.707822,0,0.102958,0.715633,0.383131,2.816738,5.956049
丛日茂,75.111111,64.000000,0.000000,533.333333,0.000000,8.388889,11.111111,533.333333,26.333333,0.000000,...,64.000000,2510.000000,17.111111,64.000000,0,0.000000,0.000000,0.000000,0.000000,75.111111
个人,9.300000,0.033333,0.000000,563.133333,0.000000,40.900000,9.266667,563.133333,42.833333,0.000000,...,0.033333,3.000000,3.000000,0.033333,0,0.000000,0.000000,0.000000,0.000000,9.300000
于强,20.717152,4.590761,0.136181,786.444226,584.818898,6.777034,3.406824,201.625328,36.278215,12.825459,...,4.621050,191.609659,7.527559,4.621050,0,0.030289,0.524934,0.136181,0.888583,20.853333
于文亮,18.144343,0.990318,0.166791,855.686584,467.067082,14.406943,6.513140,388.619502,45.590595,10.684993,...,1.113001,42.567082,1.831259,1.113001,0,0.122683,0.465237,0.166791,5.569848,18.311134

In [6]:
pd.pivot_table(df,index=["销售员","产品类别"]).head()

              净出库数量      净赠酒数量     净退货数量        合计金额        常价金额       异价单价  \
销售员 产品类别
丛文武 其他     8.663522   1.113208  0.000000   33.045283   33.016981   0.028302
    啤酒     4.572379   0.150754  0.365008  278.500838  129.671692  12.134003
    白酒     2.444444   2.125000  0.000000    9.472222    9.472222   0.000000
丛日茂 啤酒    75.111111  64.000000  0.000000  533.333333    0.000000   8.388889
个人  啤酒     9.300000   0.033333  0.000000  563.133333    0.000000  40.900000

               异价数量        异价金额       正常单价      正常数量    ...           赠送数量  \
销售员 产品类别                                                ...
丛文武 其他     0.003145    0.028302   2.299560  7.547170    ...       1.113208
    啤酒     2.112228  148.829146  48.755444  2.504188    ...       0.320972
    白酒     0.000000    0.000000  24.013889  0.319444    ...       2.125000
丛日茂 啤酒    11.111111  533.333333  26.333333  0.000000    ...      64.000000
个人  啤酒     9.266667  563.133333  42.833333  0.000000    ...       0.033333

                 赠酒价值       赠酒成本       赠酒数量  转给人      还预存数      退货单价  \
销售员 产品类别
丛文武 其他      33.396226  15.188679   1.113208    0  0.000000  0.000000
    啤酒       1.701843   0.172529   0.320972    0  0.170218  1.183132
    白酒       2.444444   0.611111   2.125000    0  0.000000  0.000000
丛日茂 啤酒    2510.000000  17.111111  64.000000    0  0.000000  0.000000
个人  啤酒       3.000000   3.000000   0.033333    0  0.000000  0.000000

              退货数量      退货金额       销售数量
销售员 产品类别
丛文武 其他    0.000000  0.000000   8.663522
    啤酒    0.633417  4.656817   4.937387
    白酒    0.000000  0.000000   2.444444
丛日茂 啤酒    0.000000  0.000000  75.111111
个人  啤酒    0.000000  0.000000   9.300000

[5 rows x 21 columns]

In [7]:
pd.pivot_table(df,index=["销售员","产品类别"],values=["净出库数量"]).head()

              净出库数量
销售员 产品类别
丛文武 其他     8.663522
    啤酒     4.572379
    白酒     2.444444
丛日茂 啤酒    75.111111
个人  啤酒     9.300000

In [8]:
pd.pivot_table(df,index=["销售员","产品类别"],values=["净出库数量"],aggfunc=np.sum).head()

            净出库数量
销售员 产品类别
丛文武 其他    2755.00
    啤酒    2729.71
    白酒     176.00
丛日茂 啤酒    1352.00
个人  啤酒     279.00

In [9]:
pd.pivot_table(df,index=["销售员","产品类别"],values=["净出库数量"],aggfunc=[np.mean,len,np.sum]).head()

               mean    len      sum
              净出库数量  净出库数量    净出库数量
销售员 产品类别
丛文武 其他     8.663522  318.0  2755.00
    啤酒     4.572379  597.0  2729.71
    白酒     2.444444   72.0   176.00
丛日茂 啤酒    75.111111   18.0  1352.00
个人  啤酒     9.300000   30.0   279.00

In [10]:
pd.pivot_table(df,index=["销售员","产品类别"],values=["净出库数量"],
               columns=["二级类别"],aggfunc=[np.sum]).head()

             sum
           净出库数量
二级类别         瓶装酒   500听装酒  330听装酒
销售员 产品类别
丛文武 其他       NaN      NaN     NaN
    啤酒    123.62  1471.09  1135.0
    白酒       NaN      NaN     NaN
    红酒       NaN      NaN     NaN
丛日茂 其他       NaN      NaN     NaN

In [11]:
pd.pivot_table(df,index=["销售员","产品类别"],values=["净出库数量"],
               columns=["二级类别"],aggfunc=[np.sum],fill_value=0).head()

             sum
           净出库数量
二级类别         瓶装酒   500听装酒 330听装酒
销售员 产品类别
丛文武 其他      0.00     0.00      0
    啤酒    123.62  1471.09   1135
    白酒      0.00     0.00      0
    红酒      0.00     0.00      0
丛日茂 其他      0.00     0.00      0

In [12]:
pd.pivot_table(df,index=["销售员","产品类别"],values=["净出库数量","净赠酒数量"],
               columns=["二级类别"],aggfunc=[np.sum],fill_value=0).head()

             sum
           净出库数量                 净赠酒数量
二级类别         瓶装酒   500听装酒 330听装酒   瓶装酒 500听装酒 330听装酒
销售员 产品类别
丛文武 其他      0.00     0.00      0   0.0    0.0      0
    啤酒    123.62  1471.09   1135   0.0   90.0      0
    白酒      0.00     0.00      0   0.0    0.0      0
    红酒      0.00     0.00      0   0.0    0.0      0
丛日茂 其他      0.00     0.00      0   0.0    0.0      0

In [13]:
pd.pivot_table(df,index=["销售员","产品类别","产品名"],
               values=["净出库数量","净赠酒数量"],
               aggfunc=[np.sum],fill_value=0).head()

                             sum
                           净出库数量  净赠酒数量
销售员 产品类别 产品名
丛文武 其他   一筐果子（1L)          806.0   26.0
         一筐果子（300ML)      1948.0  328.0
         矿泉水                 1.0    0.0
    啤酒   奥古特500听礼盒          -3.0    0.0
         崂山易拉罐(330ML)-临期    -2.0    0.0

In [14]:
pd.pivot_table(df,index=["销售员","产品类别","产品名"],
               values=["净出库数量","净赠酒数量"],
               aggfunc=[np.sum,np.mean],fill_value=0,margins=True).tail(10)

                                 sum                 mean
                               净出库数量     净赠酒数量      净出库数量     净赠酒数量
销售员 产品类别 产品名
院国何 啤酒   青岛纯干听（500）（临期）        75.00      0.00   4.411765  0.000000
         青岛纯生（500听）           141.00     31.00   3.000000  0.659574
         青岛纯生（500听）（临期）        -2.00      0.00  -0.333333  0.000000
         青岛经典啤酒（600ML1*6)      10.00      0.00  10.000000  0.000000
         青岛经典啤酒（600ML）         28.00      0.00   7.000000  0.000000
         青岛黑啤（500听）             3.00      0.00   3.000000  0.000000
    白酒   丰谷纯酿-十年52°             4.00      6.00   1.333333  2.000000
         丰谷纯酿欢庆52°             -2.00      0.00  -2.000000  0.000000
         丰谷老窖-红花52°            -2.00      0.00  -2.000000  0.000000
All                        167134.22  25609.09  21.910621  3.357248

In [15]:
pd.pivot_table(df,index=["销售员","二级类别"],
               values=["结算数量"],
               aggfunc=[np.sum],fill_value=0,margins=True).head()

                sum
               结算数量
销售员 二级类别
丛文武 瓶装酒      123.62
    500听装酒  1381.09
    330听装酒  1135.00
丛日茂 瓶装酒      200.00
    500听装酒     0.00

In [16]:
pd.pivot_table(df,index=["销售员","二级类别"],
               columns=["产品名"],
               values=["结算数量","净赠酒数量"],
               aggfunc={"结算数量":len,"净赠酒数量":np.sum},fill_value=0).head()

               净赠酒数量                                                     \
产品名        奥古特500听礼盒 崂山易拉罐(330ML)-临期  崂山精品 枣味黑啤瓶（296*8）*3合 纯生500听礼盒 纯生筐
销售员 二级类别
丛文武 瓶装酒            0               0   0.0             0.0        0   0
    500听装酒         0               0   0.0             0.0        0   0
    330听装酒         0               0   0.0             0.0        0   0
丛日茂 瓶装酒            0               0  75.0             0.0        0   0
个人  瓶装酒            0               0   0.0             0.0        0   0

                                                            ...       \
产品名        青啤青花瓷500听-出口 青岛1903瓶啤 青岛1903罐啤（500ML) 青岛500听     ...
销售员 二级类别                                                    ...
丛文武 瓶装酒               0      0.0               0    0.0     ...
    500听装酒            0      0.0               0   14.0     ...
    330听装酒            0      0.0               0    0.0     ...
丛日茂 瓶装酒               0      0.0               0    0.0     ...
个人  瓶装酒               0      0.0               0    0.0     ...

                     结算数量                                               \
产品名        青岛纯干听（500）（临期） 青岛纯生 青岛纯生（500听-过期） 青岛纯生（500听） 青岛纯生（500听）（临期）
销售员 二级类别
丛文武 瓶装酒                 0    1             0          0              0
    500听装酒             17    0             0         19              2
    330听装酒              0    0             0          0              0
丛日茂 瓶装酒                 0    0             0          0              0
个人  瓶装酒                 0    0             0          0              0

                                                                    \
产品名        青岛经典啤酒(500ML) 青岛经典啤酒（600ML1*6) 青岛经典啤酒（600ML） 青岛黑啤（500听）
销售员 二级类别
丛文武 瓶装酒                1                1             6          0
    500听装酒             0                0             0          1
    330听装酒             0                0             0          0
丛日茂 瓶装酒               14                0             0          0
个人  瓶装酒                2                0             6          0


产品名        鸿运当头355ML*12
销售员 二级类别
丛文武 瓶装酒               6
    500听装酒            0
    330听装酒            0
丛日茂 瓶装酒               0
个人  瓶装酒               0

[5 rows x 72 columns]

In [17]:
table = pd.pivot_table(df,index=["销售员","产品名"],
                       columns=["二级类别"],
                       values=["结算数量","净赠酒数量"],
                       aggfunc={"结算数量":[np.sum],"净赠酒数量":[np.sum]},fill_value=0)
table.head()

                    净赠酒数量                结算数量
                      sum                 sum
二级类别                  瓶装酒 500听装酒 330听装酒   瓶装酒 500听装酒 330听装酒
销售员 产品名
丛文武 奥古特500听礼盒         0.0    0.0      0  0.00   -3.0      0
    崂山易拉罐(330ML)-临期   0.0    0.0      0  0.00    0.0     -2
    枣味黑啤瓶（296*8）*3合   0.0    0.0      0  0.62    0.0      0
    纯生500听礼盒          0.0    0.0      0  0.00   -1.0      0
    青岛1903瓶啤          0.0    0.0      0  5.00    0.0      0

In [18]:
e = table.query('(销售员 == ["丛文武","孙洪杰"]) & (产品名 == ["青岛500听","青岛纯生"])')

In [19]:
e.to_excel('bill.xlsx')